img {
  max-width: 100%;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active,
a.active {
  color: #3389cc;
}

.App {
  min-height: 100vh;
  background-color: #fcf9f7;
  text-align: center;
  font-size: calc(0.4rem + 2vmin);
  font-family: "Old Standard TT", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-top: 4vh;
}

.Title {
  font-family: "Parisienne", cursive;
  font-size: calc(3rem + 2vmin);
}

/* Home */
.Home-container,
.Story-container,
.Venue-container,
.Itinerary-container,
.FAQ-container,
.RSVP-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home-image {
  width: 60%;
}

.Home-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: space-between;

  p {
    font-size: calc(0.6rem + 2vmin);
  }
}

.Home-rsvp-link {
  text-decoration: underline;
  color: #3389cc;
}

/* Navigation */
.Nav-row {
  display: flex;
  justify-content: center;
  padding-bottom: 4vh;
  a {
    padding: 0 4vw;
  }
}

/* Story section */
.Story-details {
  display: flex;
  flex-direction: row;

  img {
    max-width: 30%;
    padding-left: 6vw;
    padding-top: 2vh;
  }
}

.Story-paragraph {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;

  p {
    padding: 0 8vw;
  }
}

/* Venue section */
.Venue-container {
  p {
    padding: 0 10vw;
  }
}

.Ceremony-details,
.Reception-details,
.Dress-details {
  padding-bottom: 2vh;
}

/* Itinerary section */
.Itinerary-details {
  display: flex;
  flex-direction: row;

  img {
    max-width: 30%;
    padding-right: 8vw;
    padding-top: 2vh;
  }
}

.Itinerary-timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12vw;
  text-align: left;

  p {
    margin: 0;
    padding-bottom: 2vh;
  }

  h5 {
    margin: 0;
    padding-bottom: 1vh;
    font-size: calc(0.6rem + 2vmin);
    text-decoration: underline;
  }
}

/* FAQ section */
.FAQ-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4vw;

  p {
    padding: 0 4vw;
  }
}

/* RSVP section */
.RSVP-details {
  display: flex;
  flex-direction: row;

  img {
    max-width: 30%;
    padding: 2vh 6vw;
  }
}

.RSVP-info {
  text-align: center;

  p {
    padding: 0 8vw;
  }
}
