img {
  max-width: 100%;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active,
a.active {
  color: #3389cc;
}

button {
  border: solid 1px gray;
  background-color: #9db5c9;
  padding: 1vh 1vw;
  font-family: "Old Standard TT", serif;
  font-size: calc(0.8rem + 2vmin);

  a {
    color: black;
  }
}

button:hover {
  cursor: pointer;
}

.App {
  min-height: 100vh;
  background-color: #fcf9f7;
  text-align: center;
  font-size: calc(0.4rem + 2vmin);
  font-family: "Old Standard TT", serif;
}

.App-header {
  padding-top: 4vh;
}

.Title {
  /* font-family: "Parisienne", cursive; */
  font-family: "MonteCarlo", cursive;
  font-size: calc(3rem + 2vmin);
  opacity: 0;
  animation: 0.5s ease-in fadeIn forwards;
}

.Home-container,
.Story-container,
.Venue-container,
.Itinerary-container,
.FAQ-container,
.Contact-container,
.RSVP-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* animation-duration: 1.2s;
  animation-name: slide-up; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Home-subtitle {
  margin: 0;
  padding-bottom: 1vh;
  opacity: 0;
  animation: 0.5s ease-in fadeIn forwards;
}

/* Home */
.Home-image {
  width: 60%;
}

.Home-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  opacity: 0;
  animation: 0.5s ease-in 1s fadeIn forwards;

  p {
    font-size: calc(0.6rem + 2vmin);
  }
}

/* Navigation */
.Nav-row {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
  a {
    padding: 0 4vw;
  }
}

.Nav-mobile {
  display: none;
}

/* Story */
.Story-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  img {
    max-width: 30%;
    padding-left: 6vw;
    padding-top: 2vh;
  }
}

.Story-paragraph {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  text-align: left;
  opacity: 0;
  animation: 0.5s ease-in 1s fadeIn forwards;

  p {
    margin: 0;
    padding: 2vh 8vw;
  }
}

/* Venue */
.Venue-container {
  p {
    padding: 0 10vw;
  }
}

.Ceremony-details,
.Reception-details {
  padding-bottom: 1vh;
}

.Ceremony-details,
.Reception-details,
.Pakistani-reception-details {
  p {
    opacity: 0;
    animation: 0.5s ease-in fadeIn forwards;
  }
}

/* Itinerary */
.Itinerary-details {
  display: flex;
  flex-direction: row;

  img {
    max-width: 30%;
    padding-right: 6vw;
    padding-top: 2vh;
  }
}

.Itinerary-timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12vw;
  text-align: left;
  opacity: 0;
  animation: 0.5s ease-in 1s fadeIn forwards;

  p {
    margin: 0;
    padding-bottom: 2vh;
  }

  h5 {
    margin: 0;
    padding-bottom: 1vh;
    font-size: calc(0.6rem + 2vmin);
    text-decoration: underline;
  }
}

/* FAQ */
.FAQ-details {
  opacity: 0;
  animation: 0.5s ease-in fadeIn forwards;
}
.FAQ-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;

  p {
    text-align: left;
    width: 70%;
  }
}

/* Contact */
.Contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  img {
    max-width: 30%;
    padding-right: 4vw;
    padding-top: 2vh;
  }
}

.Contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 6vw;
  opacity: 0;
  animation: 0.5s ease-in 1s fadeIn forwards;
}

.Contact-card {
  padding-bottom: 1vh;
  p {
    margin: 1vh 1vw;
  }
}

/* RSVP */
.RSVP-details {
  display: flex;
  flex-direction: row;

  img {
    max-width: 30%;
    padding: 2vh 2vw;
  }
}
.RSVP-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RSVP-text {
  text-align: center;
  padding-bottom: 6vh;
  padding: 0 8vw;
}

.RSVP-button {
  margin: 1vh 0;
}

/* styling for mobile phones */
@media (max-width: 450px) {
  .App {
    font-size: calc(0.6rem + 2vmin);
  }

  .App-header {
    padding-top: 2vh;
  }

  .Title {
    font-size: calc(2rem + 2vmin);
  }

  .Home-container,
  .Story-container,
  .Venue-container,
  .Itinerary-container,
  .FAQ-container,
  .Contact-container,
  .RSVP-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
  }

  /* no animations on mobile */
  .Title,
  .Home-subtitle,
  .Home-details,
  .Story-paragraph,
  .Ceremony-details,
  .Reception-details,
  .Pakistani-reception-details,
  .Itinerary-timeline,
  .FAQ-details,
  .Contact-info {
    opacity: 1;
    animation: none;
    p {
      opacity: 1;
      animation: none;
    }
  }

  /* Navigation */
  .Nav-row {
    display: none;
  }

  .Nav-mobile {
    display: flex;
    justify-content: right;
    /* margin-left: auto; */
    position: relative;
  }

  .Nav-mobile-menu-open,
  .Nav-mobile-menu-closed {
    background-color: #fcf9f7;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease-in-out;
    font-size: calc(1.5rem + 2vmin);

    a {
      padding-bottom: 1vh;
    }
  }

  .Nav-mobile-menu-open {
    left: 0;
  }

  .Nav-mobile-menu-closed {
    left: 100vw;
  }

  .Nav-hamburger-menu {
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 1;
  }

  /* Home */
  .Home-image {
    width: 100%;
  }

  .Home-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: calc(1rem + 2vmin);
    }
  }

  /* Story */
  .Story-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      padding: 0;
    }
  }

  /* Itinerary */
  .Itinerary-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      padding: 0;
    }
  }

  /* FAQ */
  .FAQ-details {
    padding-top: 3vh;
  }

  .FAQ-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 90%;
    }
  }

  h2 {
    margin: 0;
  }

  /* Contact */
  .Contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      padding: 0;
    }
  }

  /* RSVP */
  .RSVP-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      padding: 0;
    }
  }

  .RSVP-text {
    padding: 0 2vw;
  }
}
