img {
  max-width: 100%;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #557c99;
}

.App {
  text-align: center;
  background-color: #fcf9f7;
  font-size: calc(8px + 2vmin);
  font-family: "Old Standard TT", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 4vh;
  font-family: "Old Standard TT", serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Title {
  font-family: "Parisienne", cursive;
  font-size: calc(60px + 2vmin);
}

/* Home */
.Home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home-image {
  width: 60%;
}

.Home-details {
  display: flex;
  flex-direction: row;
  p {
    padding: 0 10vw;
  }
}

/* Navigation */
.Nav-row {
  display: flex;
  justify-content: center;
  a {
    padding: 0 4vw;
  }
}

.Story-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Story section */
.Story-details {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */

  img {
    max-width: 30%;
    padding-left: 6vw;
    padding-top: 4vh;
  }
}

.Story-paragraph {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;

  p {
    padding: 0 8vw;
  }
}
